::-webkit-scrollbar {
    width: 5px;
}

/* Nền */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

/* Thanh kéo */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

/* Hover cho thanh kéo */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}