:root{
    --orange: #ef9273;
    --dorange: #D48166;
    --black: #333;
    --white: #fff;
    --gray: #999;
    --nwhite: #fef9f8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .1s linear;
}

html{
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--white);
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 2rem;
    color: var(--black);
}

header .logo i{
    color: var(--dorange);
}

header .navbar a{
    font-size: 1rem;
    color: var(--black);
    margin-right: 2.5rem;
    margin-left: 1.5rem;
}

header .navbar a:hover{
    color: var(--dorange);
}

header .icons a{
    font-size: 1.2rem;
    color: var(--black);
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

header .icons a:hover{
    color: var(--orange)
}

header #toggler {
    display: none;
}

header .fa-bars{
    font-size: 1.3rem;
    color: var(--black);
    border-radius: .5rem;
    padding: .5rem .9rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: none;
}

section{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 0 7rem;
}

section .banner{
    margin-top: 2rem;
}

.banner{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: url(../images/banner2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.banner .content{
    max-width: 28rem;
}

.banner .content h3{
    font-size: 5rem;
    color: var(--black);
    padding-top: 3.2rem;
}

.banner .content span{
    font-size: 2.8rem;
    color: var(--orange);
    padding: 1rem 0;
    line-height: 1.5;
}

.banner .content p{
    font-size: 1rem;
    color: var(--gray);
    padding: 1rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: .5rem;
    padding: .6rem 1.5rem;
    border-radius: 5rem;
    background: var(--black);
    color: var(--nwhite);
    cursor: pointer;
    font-size: 1.1rem;
}

.btn:hover {
    background: var(--orange);
}

.about {
    background: var(--orange);
    margin-bottom: 2rem;
}

.aboutTable {
    width: 100%;
    color: var(--nwhite);
}

.aboutTable td {
    width: 25%;   
}

.aboutTable tr {
    height: 6rem;
    text-align: center;
}

.aboutTable tr.top td {
    vertical-align: bottom;
    padding-bottom: .5rem;
    font-size: 2.1rem;
    font-weight: bold;
}

.aboutTable tr.bottom td {
    vertical-align: top;
    padding-top: .5rem;
}

.product .box-container .box{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */



    /* flex: 1 1 30rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem rgba(0, 0, 0, 1);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;   
    justify-content: center; */
}

 .product .box-container .box .item{
    width: 100%;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0; */
}

.product .box-container .box .item .image img{
    width: 100%;
    max-height: 90% ;
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}

.product .box-container .box .header{
    margin: 1.5rem 0;

} 


