:root{
    --orange: #ef9273;
    --dorange: #D48166;
    --black: #333;
    --white: #fff;
    --gray: #999;
    --nwhite: #fef9f8;
}
* {

    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .1s linear;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--white);
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 2rem;
    color: var(--black);
}

header .logo i{
    color: var(--dorange);
}

header .navbar {
    display: flex;
    justify-content: space-evenly;
}

header .navbar a{
    font-size: 1rem;
    color: var(--black);
}

header .navbar a:hover{
    color: var(--dorange);
}

header .icons{
    display: flex;
    justify-content: space-evenly;   
}

header .icons a{
    font-size: 1.2rem;
    color: var(--black);
}

header .icons a:hover{
    color: var(--orange)
}

header #toggler {
    display: none;
}

header .fa-bars{
    font-size: 1.3rem;
    color: var(--black);
    border-radius: .5rem;
    padding: .5rem .9rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: none;
}

.banner{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: url(../images/banner2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.banner .content{
    max-width: 28rem;
}

.banner .content h3{
    font-size: 5rem;
    color: var(--black);
    margin: 1rem 0;
}

.banner .content span{
    font-size: 2.8rem;
    color: var(--orange);
}

.banner .content p{
    font-size: 1rem;
    color: var(--gray);
}

.btn{
    display: inline-block;
    margin-top: .5rem;
    padding: .6rem 1.5rem;
    border-radius: 5rem;
    background: var(--black);
    color: var(--nwhite);
    cursor: pointer;
    font-size: 1.1rem;
}

.btn:hover {
    background: var(--orange);
}

.about {
    background: var(--orange);
    color: var(--nwhite);
    text-align: center;
    font-weight: bold;
}

.about .info{
    margin: 3rem 0;
}

.about .info div{
    margin-bottom: 1rem;
    font-size: 2.2rem;
}






